* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	
}

h1{
	font-family: Lucida Console, monospace;
	text-align: center;	
	
}

body {
	display: flex;
    flex-direction: column;
    min-height: 100vh;
	background : #FFFFFF;
}

main {
    flex-grow: 1; 
    background: #8AAAE5;
    width: 60%;
    height: auto;
    justify-content: center;
    margin: 170px auto; 
    padding: 10px;
    border-radius: 25px;
}



#products_container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap:20px;
	justify-content: center;
	
}

.tools {
  background-color:#FFFFFF;
  padding: 1.3rem;
  margin: 1rem;
  width: 75%;
  border-radius: 15px;
  list-style-type:none;
  display: flex; 
  flex-direction: column; 
  align-items: center;
   
}

#input_container {
	margin: 5px auto;
	padding: 20px;
	text-align: center;
	align-items: center;
	
}

#cart_container {

	border: 2px solid black;
	border-radius: 15px;
	width : 230px;
	padding: 1.3rem;
    height: auto;
	margin-top: 10px;
	margin-left: 50px;
	position: absolute;

}


.cart_line{
	border-bottom-style: solid;
	padding: 5px;
}



.btn {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}



footer {
    width: 100%;
    padding: 10px;
    text-align: center;
	 background-color: #F1F1F1;
}




#LinkedIn {
	width : 60px;
	height: 60px;
	justify-content: center;
	border-radius: 10px;
	padding : 10px;
}